@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="page-container">
    <div class="row">
        <div class="card-panel card-panel-small z-depth-4">
            <h4>Reset Password</h4>
            <span>Enter the email address associated with your account, and we’ll email you a link to reset your password.</span>
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-field">
                    <i class="material-icons prefix">person_outline</i>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
