@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="page-container">
    <div class="row">
        <div class="card-panel z-depth-4">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-field">
                    <h4 class="center">Register</h4>
                    <p class="center">Join our community now!</p>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">person_outline</i>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock_outline</i>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock_outline</i>
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="input-field">
                    <button type="submit" class="btn waves-effect waves-light col s12">Register</button>
                </div>
                <div class="row m0">
                    <div class="input-field center col s12 m0">
                        <p>Already have an account?<a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"> Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>