@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<a asp-action="UserProfile" asp-controller="Account" asp-route-id="92f91e52-f4fd-47d7-af89-18b335b7d729" class="content-title">aaaa</a>
