@*@{
        ViewData["Title"] = "Contact";
    }
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<meta name="viewport" />
<div class="card-panel card-panel-large z-depth-4">
    <form action="https://formspree.io/dipakgautam120@gmail.com" method="POST">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="active validate" required />
                <label for="name">Full Name</label>
            </div>

            <div class="input-field col s12 m6">
                <i class="material-icons prefix">phone_iphone</i>

                <input id="phone" type="number" class="validate" required />
                <label for="phone">Phone Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="text" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="subject" class="materialize-textarea"></textarea>
                <label for="subject">Subject</label>
            </div>
        </div>
        <textarea id="placeholder" placeholder="Type here..."></textarea><br/>
       
            <button class="btn waves-effect waves-light red btn-small" type="submit">
                Send
                <i class="small material-icons right">send</i>
            </button>
        
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        CKEDITOR.plugins.addExternal('confighelper', 'https://martinezdelizarrondo.com/ckplugins/confighelper/');
        var config = {
            toolbarGroups: [
                { name: 'basicstyles', groups: ['basicstyles'] },
                { name: 'styles', groups: ['Bold', 'Italic', 'underline'] },
                { name: 'editing', groups: ['find', 'selection', 'spellchecker'] },
                { name: 'tools' }
            ],
            extraPlugins: 'confighelper',
            
        }
        CKEDITOR.replace('placeholder', config);
    </script>

}
