@{
    ViewData["Title"] = "Home Page";
}

<section class="page-container section">
    <div class="row browse-width">
        <!--Side-Content-->
        @await Html.PartialAsync("_categoriesSideMenu")

        <!--Main-Content-->
        <div class="page-container col s9 p0">
            <div class="table-striped p0">
                <div class="card-header">
                    
                </div>
            </div>
        </div>
    </div>
</section>
