@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="padding-top: 80px;">Privacy Policy.</h2>
<p>

    “WWAIT” has created this privacy policy in order to explain and inform you about our
    privacy practices. The following discloses our information-gathering and -dissemination
    practices for our WWAIT website (the “Site”), and services (collectively, the “Service”).
    <br>
    By using the Service, you do hereby warrant and represent that you have read,
    understand and agree to all terms and conditions stated herein, including our Terms of
    Use, which is incorporated herein by reference, which govern the use of the services
    offered by WWAIT, and that you are giving WWAIT permission to use and store such
    information consistent with this privacy policy and our Terms of Service.
    <br>
    Two things drive WWAIT 's decisions regarding the use of information collected from
    Users: 1) improving user experience by offering personalized services, content and
    advertising, and 2) market research.
    <br>
    A user of the Service is hereinafter referred to as a “User,” or collectively, the “Users.”

</p>