@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <tbody>
        <tr>
            <td height="140" >
                
                    <p style="font-size: 15px"; face="Arial, Helvetica, sans-serif">
                        Hamrobazar.com provides online platform which helps buyers &amp; sellers to meet with each other. However, it is always a good idea to take some precaution before conducting any transaction. Below are several safety guidelines. This is not a complete list. We advise you to always use common sense, sound judgment and trust your instincts.

                    </p> <br/>
                    <h6><b>Hamrobazar does not offer any kind of buyer protection.</b></h6>
                    Hamrobazar is not involved in buying or selling activities nor does it act as a middleman. Just like any newspaper classifieds, all the ads are posted by users for information purpose. These users are solely responsible for their ad content and their acts, without any liability on our part.
                    <br><br>
                    <h6><b>Avoid fraud &amp; scams.</b></h6>
                    Don’t assume without confirmation that ad content and picture displayed are true and accurate. Ask questions to ad poster for more details if you have any doubt on your mind.  Make yourself aware of common scams and fraud practices. <b><u>Be suspicious of:</u></b>
                    <ul style="font-size: 15px"; face="Arial, Helvetica, sans-serif">
                        
                            <li>Sellers who has provided incomplete address, do not have a verified mobile number, has mentioned phone numbers on ad description only.</li>
                            <li>Ads demanding you to make advance payment.</li>
                            <li>Ads promising large sum of money,  lottery/get rich scheme, too good to be true opportunities (ad related to <b>foreign employment, visa &amp; migration, high return on investments,</b> etc).</li>
                            <li>Ads trying to sell stolen goods at low prices. When in doubt ask the owner to provide documents which shows proof of purchase (like bill, warranty card).</li>
                            <li>Ads trying to sell cheap, fake and imitation products as original. Apply the most simple rule – <b>“If something sounds too good to be true, it probably is suspicious”</b></li>
                        
                    </ul>
                    
                    <h6><b>Meet in-person and at a public place.</b></h6>
                    While buying or selling through hamrobazar, it is most likely that you will be meeting a stranger. It is advisable to learn as much as you can about the person whom you are meeting or trading with. Ask the person about his work place, profession, etc. If in doubt, ask the person to show his identification document like license and citizenship.
                    <ul style="font-size: 15px"; face="Arial, Helvetica, sans-serif">
                       
                            <li>For your personal safety, always meet buyer/seller in public places (restaurant, office, shops, etc) where other people are present.</li>
                            <li>Always carry a cell phone with you. If possible take a friend along. Do inform someone from your family or friend about the person you are meeting and where you are going.</li>
                            <li>Try not to arrange meeting at home or isolated places. If required, make sure you are not alone. If you feel something suspicious, stop immediately.</li>
                        
                    </ul>

                    Some of the users are marked with < status. We have obtained basic identity documents from these users. It is preferable to transact with them.
                    <br><br>
                    <h6><b>Inspect the product in detail.</b></h6><br>
                    We recommend you to physically inspect the product before making payment. Take your time to check product thoroughly, avoid being rushed in by seller. If you do not have required expertise, ask advice from your friend or professional.
                    <br><br>
                    <h6><b>Be especially careful when buying/selling high value items.</b></h6><br>
                    If you are looking to buy something expensive, we recommend that you first meet the seller to check the product. Once you are ready to purchase, either go to ATM or visit the bank to arrange for the cash. For very large amounts, instead of paying cash it is better to visit seller’s bank and deposit in his account.
                    <br><br>
                    <h6><b>Try to avoid non face-to-face transactions.</b></h6><br>
                    Hamrobazar is all about trading locally and does not encourage non face-to-face transactions.  However if you are interested, it is advisable to make payment through banks. Never send cash directly. Always keep  photocopies of deposit slips and cheques. Similarly, sellers are advised not to dispatch goods before receiving payment from buyer.
                    <br><br><br>
                    Please report any attempts of fraud, suspicious activities at www.support@global In case of fraud or illegal activity, we recommend that you report it to local authorities and inform us.


               
            </td>
        </tr>
    </tbody>
</table>