
@model IEnumerable<KinMel.Models.ClassifiedAd>

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<br /><br />


@using (Html.BeginForm("Search","ClassifiedAds"))
{

    <input id="Text1" type="text" name="txtOne"/>
    <input id="Button1" type="submit" value="button" />
}