@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="browse-width">    
    <div class="row">
        <div class="col s12 m3">
            <partial name="_ManageNav" />
        </div>
        <div class="card z-depth-5 col s12 m9 p-5">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

