@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
<partial name="_StatusMessage" model="@Model.StatusMessage" />
    <div class="card-header">
        Change Password
    </div>
    <div class="card-content">
        <form method="post">
            <div class="input-field">
                <i class="material-icons prefix">lock_outline</i>
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="red-text"></span>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="red-text"></span>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="red-text"></span>
            </div>
            <button type="submit" class="btn btn-default mb-20 right">Update password</button>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
