@model ClassifiedAdCreateViewModel
@{
    ViewData["Title"] = "Create An Ad";
    ViewData.AddActivePage(ManageNavPages.CreateAd);
}

<div class="card-header">
    Post a new ad
</div>
<div class="row m-0">
    <div class="col s12">
        <form asp-action="CreateAd">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div>
                <label asp-for="CategoryName" class="col s12"></label>
                <select asp-for="CategoryName" class="col s12 m6" asp-items="ViewBag.CategoryName"></select>
            </div>

            <div>
                <input type="submit" value="Select a Category" class="btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
