@model ClassifiedAdCreateViewModel
@{
    ViewData["Title"] = "Create An Ad";
    ViewData.AddActivePage(ManageNavPages.CreateAd);
}

<div class="card-header m-0">
    Post a new ad
</div>
    <div class="card-content">
        <form asp-action="CreateAd">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <label asp-for="CategoryName" class="col s12"></label>
            <select asp-for="CategoryName" class="col s12 m6" asp-items="ViewBag.CategoryName"></select>

            <input type="submit" value="Select a Category" class="btn mt-20" />
        </form>
    </div>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
