@model ProfilePictureViewModel
@{
    ViewData["Title"] = "Set password";
    ViewData.AddActivePage(ManageNavPages.ProfilePicture);
}

<h4>Change your profile picture</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    You can upload new or change your profile picture from here.
</p>
<div class="row">
    <div class="col 6">
        <img src="@Model.ProfilePictureUrl" style="max-width: 250px;" />


    </div>
    <div class="col 6">
        <form method="post" enctype="multipart/form-data" asp-action="ProfilePicture">
            <h5>Image Preview</h5>
            <img id="output_image" style="max-width: 250px;" />
            <div class="form-group">
                <input type="file" accept=".png,.jpg,.jpeg,.gif,.tif" name="profilePicture" id="profilePicture" onchange="preview_image(event)" />
            </div>

            <button type="submit" class="btn btn-default">Upload Picture</button>
        </form>
    </div>

</div>
<script type='text/javascript'>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
