@model ProfilePictureViewModel
@{
    ViewData["Title"] = "Change Profile Picture";
    ViewData.AddActivePage(ManageNavPages.ProfilePicture);
}

<div>
    <div class="card-header">
        Profile Picture
    </div>
    <div class="card-content">
        <p class="text-info">
            You can upload new or change your profile picture from here.
        </p>
        <img src="@Model.ProfilePictureUrl" style="max-width: 250px;" />
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" asp-action="ProfilePicture">
            <h5>Image Preview</h5>
            <img id="output_image" style="max-width: 250px;" />
            <div class="form-group">
                <input type="file" accept=".png,.jpg,.jpeg,.gif,.tif" name="profilePicture" id="profilePicture" onchange="preview_image(event)" />
            </div>

            <button type="submit" class="btn btn-default right">Upload Picture</button>
        </form>
    </div>

</div>
<script type='text/javascript'>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
