
/*p {
    margin: 0px;
    line-height: 1rem;
}*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 34rem;
}

@media (min-width: 1024px) {
    body {
        padding-bottom: 20.48rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        padding-bottom: 22.99rem;
    }
}

.page-container {
    height: 100%;
    width:100%;
    vertical-align: middle;
}

nav a:hover {
    color: #dddddd;
}

nav .sidenav-trigger {
    margin: 0px;
}

.card-content li a {
    color: #333333;
    font-weight: 500;
}

.card-content li a:hover {
    color: #00bcd4;
}

.category-select {
    color: #00bcd4 !important;
}

/*************SORT**************/
.sort-text {
    width: fit-content;
    margin: auto;
    padding-right: 10px;
}
/*******************************/

/*************Responsive-content**************/
@media (max-width: 768px) {
    .card-panel-large {
        padding: 10px;
    }
}

@media (max-width: 450px) {
    .card-panel-large {
        padding: 5px;
    }

    .content-image {
        max-width: 80px !important;
    }

    .content-title {
        font-size: 14px !important;
    }

    .content-description {
        font-size: 13px !important;
        padding-right: 0px !important;
    }

    .content-username {
        font-size: 11px !important;
    }

    .content-datecreated {
        font-size: 11px !important;
    }

    .content-price {
        font-size: 14px !important;
    }

    .content-condition {
        font-size: 12px !important;
    }

    .material-icons {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    .nav-wrapper {
        padding-left: 10px;
    }
}
/*********************END*********************/

/*************Custom Classes***************/
.m-5 {
    margin: -5px;
}
.m0 {
    margin: 0px !important;
}

.mb0 {
    margin-bottom: 0px;
}

.p0 {
    padding: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.p5 {
    padding: 5px;
}

.align-middle {
    vertical-align: middle;
}

.display-flex {
    display: flex;
}

.breadcrumb {
    color: black;
    font-size: 14px;
}

.breadcrumb:before {
    vertical-align: middle;
    color: black;
    font-size: 14px;
}

.breadcrumb:last-child {
    color: black;
    font-size: 14px;
}

    .breadcrumb:hover {
        color: #00bcd4;
    }

.card-panel-small {
    max-width: 400px;
    margin: 30px auto;
}

.card-panel-large {
    max-width: 800px;
    margin: 30px auto;
}

.card-header {
    background-color: #edefed;
    color: #484848;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid #dce0e0;
    position: relative;
    margin: 0;
    border-top: none;
}

.browse-width {
    max-width: 1280px;
}
/******************END********************/

/****************Content*****************/
.content-image {
    width: 100px;
    height: 100px;
    -webkit-object-fit: scale-down;
    object-fit: scale-down;
}

.content-title {
    font-size: 16px;
    color: #00a5bb;
    font-weight: bold;
}

.content-description {
    font-size: 14px;
    padding-right: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.content-username {
    font-size: 12px;
    color: #00a5bb;
}

.content-datecreated {
    font-size: 14px;
    color: grey;
}

.content-price {
    font-size: 16px;
    font-weight: bold;
}

.content-condition {
    font-size: 14px;
    color: grey;
}
/******************End*******************/

/****************Details*****************/
.details-title {
    font-size: 18px;
    font-weight: bold;
}

.details-description {
    font-size: 16px;
}
/******************End*******************/

/**************Page-loader***************/

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

.no-js #loader-wrapper {
    display: none;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }
/****************************************/
/****************FOOTER*****************/

.footer {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
    color: #ffffff;
}

    footer a:hover {
        color: #dddddd;
    }

footer ul {
    margin: 0px;
}
footer .brand-logo {
    font-size: 2.1rem;
}

.footer-wrapper {
    padding: 44px 24px;
    max-width: 1340px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .footer-wrapper {
        padding: 68px 24px;
    }
}

@media (min-width: 1024px) {
    .footer-wrapper {
        padding: 100px 24px 80px;
    }
}

@media (min-width: 768px) {
    .footer-block-wrapper {
        display: flex;
        -o-justify-content: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}

.footer-block {
    text-align: left;
    position: relative;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .footer-block {
        padding: 10px 0 20px;
    }
}

.footer-block:after {
    position: absolute;
    width: 100%;
    height: 4px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background: white;
    content: '';
    left: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .footer-block:after {
        top: 0px;
        bottom: auto;
    }
}

.footer-block:last-child:after {
    background: transparent;
}

@media (min-width: 768px) {
    .footer-block:last-child:after {
        background: white;
    }
}

.footer-block.footer-logo {
    text-align: center;
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .footer-block.footer-logo {
        padding-top: 0;
        padding-right: 30px;
    }

        .footer-block.footer-logo:after {
            background: transparent;
        }
}

@media (min-width: 768px) {
    .footer-block-inner-wrapper {
        display: flex;
        width: 100%;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -o-justify-content: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        max-width: 980px;
    }

        .footer-block-inner-wrapper .footer-block {
            margin: 0;
            width: 49%;
        }

        .footer-block-inner-wrapper .footer-block-social {
            width: 100%;
        }
}

@media (min-width: 1024px) {
    .footer-block-inner-wrapper .footer-block {
        width: 24%;
        margin: 0 .05%;
    }

    .footer-block-inner-wrapper .footer-block-social {
        margin-left: 25%;
    }
}

@media (min-width: 1280px) {
    .footer-block-inner-wrapper .footer-block {
        max-width: 220px;
    }
}

.footer-logo-img {
    margin-left: 90px;
    object-fit: fill;
}

@media (max-width: 768px) {
    .footer-logo-img {
        margin-left: 0px;
    }
}

.footer-copyright {
    color: #666;
    text-align: center;
}

    .footer-copyright p {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

@media (min-width: 768px) {
    .footer-copyright {
        text-align: right;
    }
}
/***************END****************/