
<div class="card side-content hide-on-med-and-down">
    <div class="card-header black-text darken-3">
        Categories
    </div>
    <div class="card-content">
        <ul class="m0">
            <li><a asp-controller="ApparelsAndAccessories" asp-action="Index"><i class="material-icons align-middle p5">store</i>Apparels & Accessories</a></li>
            <li><a asp-controller="BeautyAndHealths" asp-action="Index"><i class="material-icons align-middle p5">local_florist</i>Beauty & Health</a></li>
            <li><a asp-controller="BooksAndLearnings" asp-action="Index"><i class="material-icons align-middle p5">book</i>Books & Learning</a></li>
            <li><a asp-controller="Cameras" asp-action="Index"><i class="material-icons align-middle p5">photo_camera</i>Cameras</a></li>
            <li><a asp-controller="Cars" asp-action="Index"><i class="material-icons align-middle p5">directions_car</i>Cars</a></li>
            <li><a asp-controller="Computers" asp-action="Index"><i class="material-icons align-middle p5">computer</i>Computers</a></li>
            <li><a asp-controller="ComputerParts" asp-action="Index"><i class="material-icons align-middle p5">developer_board</i>Computer Parts</a></li>
            <li><a asp-controller="Electronics" asp-action="Index"><i class="material-icons align-middle p5">scanner</i>Electronics</a></li>
            <li><a asp-controller="Furnitures" asp-action="Index"><i class="material-icons align-middle p5">weekend</i>Furnitures</a></li>
            <li><a asp-controller="HelpAndServices" asp-action="Index"><i class="material-icons align-middle p5">build</i>Help & Services</a></li>
            <li><a asp-controller="Jobs" asp-action="Index"><i class="material-icons align-middle p5">work</i>Jobs</a></li>
            <li><a asp-controller="Mobiles" asp-action="Index"><i class="material-icons align-middle p5">smartphone</i>Mobiles</a></li>
            <li><a asp-controller="MobileAccessories" asp-action="Index"><i class="material-icons align-middle p5">headset</i>Mobile Accessories</a></li>
            <li><a asp-controller="Motorcycles" asp-action="Index"><i class="material-icons align-middle p5">motorcycle</i>Motorcycles</a></li>
            <li><a asp-controller="MusicInstruments" asp-action="Index"><i class="material-icons align-middle p5">music_note</i>Musical Instruments</a></li>
            <li><a asp-controller="PetsAndPetCares" asp-action="Index"><i class="material-icons align-middle p5">pets</i>Pets & Petcare</a></li>
            <li><a asp-controller="RealStates" asp-action="Index"><i class="material-icons align-middle p5">account_balance</i>RealState</a></li>
            <li><a asp-controller="SportsAndFitnesses" asp-action="Index"><i class="material-icons align-middle p5">fitness_center</i>Sports & Fitness</a></li>
            <li><a asp-controller="TabletsAndIPads" asp-action="Index"><i class="material-icons align-middle p5">tablet_mac</i>Tablets & iPads</a></li>
            <li><a asp-controller="ToysAndGames" asp-action="Index"><i class="material-icons align-middle p5">toys</i>Toys & Games</a></li>
            <li><a asp-controller="TravelAndTours" asp-action="Index"><i class="material-icons align-middle p5">flight</i>Travel & Tours</a></li>
            <li><a asp-controller="VehiclesParts" asp-action="Index"><i class="material-icons align-middle p5">settings</i>Vehicle Parts</a></li>
        </ul>
    </div>
</div>

<div class="taxonomy hide-on-large-only hide-on-extra-large-only">
    <ul class="taxonomy-sections">
        <li><a asp-controller="ApparelsAndAccessories" asp-action="Index"><i class="material-icons align-middle">store</i><span>Apparels & Accessories</span></a></li>
        <li><a asp-controller="BeautyAndHealths" asp-action="Index"><i class="material-icons align-middle">local_florist</i><span>Beauty & Health</span></a></li>
        <li><a asp-controller="BooksAndLearnings" asp-action="Index"><i class="material-icons align-middle">book</i><span>Books & Learning</span></a></li>
        <li><a asp-controller="Cameras" asp-action="Index"><i class="material-icons align-middle">photo_camera</i><span>Cameras</span></a></li>
        <li><a asp-controller="Cars" asp-action="Index"><i class="material-icons align-middle">directions_car</i><span>Cars</span></a></li>
        <li><a asp-controller="Computers" asp-action="Index"><i class="material-icons align-middle">computer</i><span>Computers</span></a></li>
        <li><a asp-controller="ComputerParts" asp-action="Index"><i class="material-icons align-middle">developer_board</i><span>Computer Parts</span></a></li>
        <li><a asp-controller="Electronics" asp-action="Index"><i class="material-icons align-middle">scanner</i><span>Electronics</span></a></li>
        <li><a asp-controller="Furnitures" asp-action="Index"><i class="material-icons align-middle">weekend</i><span>Furnitures</span></a></li>
        <li><a asp-controller="HelpAndServices" asp-action="Index"><i class="material-icons align-middle">build</i><span>Help & Services</span></a></li>
        <li><a asp-controller="Jobs" asp-action="Index"><i class="material-icons align-middle">work</i><span>Jobs</span></a></li>
        <li><a asp-controller="Mobiles" asp-action="Index"><i class="material-icons align-middle">smartphone</i><span>Mobiles</span></a></li>
        <li><a asp-controller="MobileAccessories" asp-action="Index"><i class="material-icons align-middle">headset</i><span>Mobile Accessories</span></a></li>
        <li><a asp-controller="Motorcycles" asp-action="Index"><i class="material-icons align-middle">motorcycle</i><span>Motorcycles</span></a></li>
        <li><a asp-controller="MusicInstruments" asp-action="Index"><i class="material-icons align-middle">music_note</i><span>Musical Instruments</span></a></li>
        <li><a asp-controller="PetsAndPetCares" asp-action="Index"><i class="material-icons align-middle">pets</i><span>Pets & Petcare</span></a></li>
        <li><a asp-controller="RealStates" asp-action="Index"><i class="material-icons align-middle">account_balance</i><span>RealState</span></a></li>
        <li><a asp-controller="SportsAndFitnesses" asp-action="Index"><i class="material-icons align-middle">fitness_center</i><span>Sports & Fitness</span></a></li>
        <li><a asp-controller="TabletsAndIPads" asp-action="Index"><i class="material-icons align-middle">tablet_mac</i><span>Tablets & iPads</span></a></li>
        <li><a asp-controller="ToysAndGames" asp-action="Index"><i class="material-icons align-middle">toys</i><span>Toys & Games</span></a></li>
        <li><a asp-controller="TravelAndTours" asp-action="Index"><i class="material-icons align-middle">flight</i><span>Travel & Tours</span></a></li>
        <li><a asp-controller="VehiclesParts" asp-action="Index"><i class="material-icons align-middle">settings</i><span>Vehicle Parts</span></a></li>
    </ul>
</div>