<!DOCTYPE html>
<!------------Hi------------>
<!---------------Hi--------------->
<!---------Hello! Stalker----------->
<!------What do you think about this website?------>
<!------This website is for sale------>
<!------Do you have any business ideas and want to collaborate?------>
<!------Contact-imyogesh33@gmail.com------>
<!--Have a great day/night-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <partial name="_Favicons" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/lib/lightbox2/dist/css/lightbox.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/lib/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/lib/revolution/css/revolution.css">
    <link rel="stylesheet" type="text/css" href="~/lib/revolution/css/navigation.css">


</head>

<body class="white">
    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper page-container row browse-width">
                <a id="logo-container" asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo"><img class="kinmelLogo" src="/images/kinmellogo.png" alt="KinMel" /></a>
                <div class="fixed-action-btn">
                    <a asp-controller="Manage" asp-action="CreateAd" class="btn-floating btn-large waves-effect waves-light pink tooltipped" data-tooltip="Post a new Ad" data-position="left">
                        <i class="material-icons">add</i>
                    </a>
                </div>

                <partial name="_LoginPartial" />

            </div>
        </nav>
    </div>

    @RenderBody()

    <footer id="footer" class="footer">
        <div class="footer-wrapper">
            <div class="footer-block-wrapper">
                <div class="footer-logo footer-block">
                    <a class="brand-logo" href="@Url.Action("Index", "Home")">KinMel</a>
                </div>
                <div class="footer-block-inner-wrapper">
                    <div class="footer-block">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <h6><a href="#">support@vattujan.com</a></h6>
                        <h6><b>Kathmandu, NP</b></h6>
                    </div>
                    <div class="footer-block">
                        <a href="https://www.facebook.com" class="fab fa-facebook-square fa-3x"></a>
                        <a href="https://plus.google.com" class="fab fa-google-plus-square fa-3x"></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright blue-theme">
                <div>
                    <p>&copy; 2018 - KinMel</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/lib/revolution/js/revolution-custom.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    @*<script src="~/lib/lightbox2/dist/js/lightbox.min.js"></script>*@
    @*<script src="~/lib/momentjs/moment.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/notification.js"></script>

    <script src="https://cdn.ckeditor.com/4.9.2/standard-all/ckeditor.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVZYQFe4YYva_g5ulymGDt9EBoVjjZJ8&libraries=places&callback=initMap" async defer></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
