<!--=================================
slider -->


<section class="browse-width">
    <div id="rev_slider_19_1" class="rev_slider">
        <ul>
            <!-- SLIDE  -->
            <li>
                <!-- MAIN IMAGE -->
                <img src="lib/revolution/assets/1c8fc-slider-bg.jpg" alt="" class="rev-slidebg">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme"
                     id="slide-37-layer-9"
                     data-x="['right','right','right','right']" data-hoffset="['50','50','40','20']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['40','40','0','0']"
                     data-width="auto"
                     data-height="auto"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:right;s:2100;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="400"
                     data-responsive_offset="on"
                     style="z-index: 5;">
                    <img src="lib/revolution/assets/1f88e-slide2-img.png" alt="" data-ww="['388.33034111310593','328.33034111310593','315.0190476190476','194.91202346041055']" data-hh="['282','240','220','140']" data-no-retina>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme"
                     id="slide-37-layer-4"
                     data-x="['left','left','left','left']" data-hoffset="['65','50','41','20']"
                     data-y="['top','top','top','top']" data-voffset="['70','60', 40','30']"
                     data-fontsize="['24','24','22','18']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-elementdelay="0.05">Welcome to KinMel!</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme white-text"
                     id="slide-37-layer-7"
                     data-x="['left','left','left','left']" data-hoffset="['60','50','40','20']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-40','-36','-26','-18']"
                     data-fontsize="['62','50','40','24']"
                     data-lineheight="['62','50','40','24']"
                     data-width="582"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="x:left;s:1410;e:Power3.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="2600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Introducing<br>A Revolutionary<br>Platform In Market
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption waves-effect waves-light button white"
                     id="slide-37-layer-5"
                     data-x="['left','left','left','left']" data-hoffset="['65','50','40','20']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['120','90','70','40']"
                     data-fontsize="['14','14','14','13']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                     data-transform_in="y:bottom;s:800;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="3800"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-responsive="on"><a class="cyan-text text-darken-1" asp-controller="ClassifiedAds" asp-action="Index">Browse Ads</a></div>
            </li>
            <!-- SLIDE  -->
            <li>
                <!-- MAIN IMAGE -->
                <img src="lib/revolution/assets/9fb8a-slide2-bg.jpg" alt="" class="rev-slidebg">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme"
                     id="slide-38-layer-10"
                     data-x="['left','left','left','left']" data-hoffset="['64','50','30','20']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['38','38','0','0']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:left;s:2100;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="400"
                     data-responsive_offset="on"
                     style="z-index: 5;">
                    <img src="lib/revolution/assets/3017c-slide1-img.png" alt="" data-ww="['388.33034111310593','388.33034111310593','315.0190476190476','194.91202346041055']" data-hh="['420','420','341','211']" data-no-retina>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-white"
                     id="slide-38-layer-4"
                     data-x="['right','right','right','right']" data-hoffset="['64','50','30','20']"
                     data-y="['top','top','top','top']" data-voffset="['70','60', 40','30']"
                     data-fontsize="['24','24','22','18']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="y:-50px;opacity:0;s:600;e:Power4.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-elementdelay="0.05">Buy & Sell!</div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme right-align white-text"
                     id="slide-38-layer-7"
                     data-x="['right','right','right','right']" data-hoffset="['65','50','30','20']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-40','-36','-26','-18']"
                     data-fontsize="['62','50','40','24']"
                     data-lineheight="['62','50','40','24']"
                     data-width="582"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="x:right;s:1410;e:Power3.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="2600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Connecting<br>Our Valued Users<br>Making Life Simpler
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption waves-effect waves-light button white"
                     id="slide-38-layer-5"
                     data-x="['right','right','right','right']" data-hoffset="['60','50','30','30']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['120','90','70','40']"
                     data-fontsize="['14','14','14','13']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                     data-transform_in="y:bottom;s:800;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;"
                     data-start="3800"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"><a class="cyan-text text-darken-1" asp-controller="ClassifiedAds" asp-action="Index">Browse Ads</a></div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div><!-- END REVOLUTION SLIDER -->
</section>

<!--=================================
slider -->
