<div class="card-header sorting-grid">
    <div>
        <p class="sort-text black-text">Sort Ads by:</p>
        @{
            var sortList = new SelectList(new List<SelectListItem>
        {
            new SelectListItem {Value = "Date", Text = "Latest Ads"},
            new SelectListItem {Value = "date_desc", Text = "Older Ads First"},
            new SelectListItem {Value = "Price", Text = "Price: Low to High"},
            new SelectListItem {Value = "price_desc", Text = "Price: High to Low"},
        }, "Value", "Text", Context.Request.Query["sortOrder"]);
        }
        <select id="sortSelect" asp-items="@sortList" onchange="window.location.href = '/@ViewContext.RouteData.Values["Controller"]?sortOrder=' + this.options[this.selectedIndex].value"></select>
    </div>
</div>