
<div class="row m0">
    <div class="right display-flex">
        <!--sorting-->
        <b class="sort-text">Sort Ads by:</b>
        <select onchange="window.location.href = '/@ViewContext.RouteData.Values["Controller"]?sortOrder=' + this.options[this.selectedIndex].value">
            <option asp-action="Index" value="Date">Latest Ads</option>
            <option asp-action="Index" value="date_desc">Older Ads First</option>
            <option asp-action="Index" value="Price">Price: Low to High</option>
            <option asp-action="Index" value="price_desc">Price: High to Low</option>
        </select>
        @*<div class="col s2 center"><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.DateCreated)</a></div>
                        <div class="col s2 center"><a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a></div>*@
    </div>
</div>
<hr/>