@model KinMel.Models.BooksAndLearning

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";

    ViewData["Title"] = "Details";
}
<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Author"></label>
                <p> @Html.DisplayFor(m => m.Author)</p>
            </li>
        </ul>
    </div>
</div>

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Isbn"></label>
                <p> @Html.DisplayFor(m => m.Isbn)</p>
            </li>
        </ul>
    </div>
</div>>
