@model IEnumerable<KinMel.Models.BooksAndLearning>

@{
    ViewData["Title"] = "Index";
}

<!--Breadcrumbs-->
<div class="page-container grey lighten-3">
    <div class="row browse-width mb-0 p-5 grey lighten-3">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb">Home</a>
        <a asp-controller="BooksAndLearnings" asp-action="Index" class="breadcrumb">Books & Learning</a>
    </div>
</div>

@await Component.InvokeAsync("MainContent", new { sortOrder = Context.Request.Query["sortOrder"].ToString(), category = "BooksAndLearning" })
