@model KinMel.Models.Notification


<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NotificationToId" class="control-label"></label>
                <select asp-for="NotificationToId" class ="form-control" asp-items="ViewBag.NotificationToId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NotificationFromId" class="control-label"></label>
                <select asp-for="NotificationFromId" class ="form-control" asp-items="ViewBag.NotificationFromId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NotificationText" class="control-label"></label>
                <input asp-for="NotificationText" class="form-control" />
                <span asp-validation-for="NotificationText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionController" class="control-label"></label>
                <input asp-for="ActionController" class="form-control" />
                <span asp-validation-for="ActionController" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionId" class="control-label"></label>
                <input asp-for="ActionId" class="form-control" />
                <span asp-validation-for="ActionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsRead" /> @Html.DisplayNameFor(model => model.IsRead)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{    <partial name="_ValidationScriptsPartial" />}
}
